
body {
    	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	font-weight: normal;
	line-height: 34px;
}

h1 {
	font-size: 34px;
}

h2 {
	font-size: 30px;
}

.container-fluid {
	margin-left: 5%;
	margin-right: 5%;
}

.lava-icon {
	font-size: 72px;
	padding: 30px;
}

.contact-icon {
	font-size: 30px;
	padding: 0 20px 0 0;
	min-width: 50px;
}

.splash-text h1{
	margin-top: 20%;
}

.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}

.main-menu {
	margin-top: 60px;
}

.navbar {
	float: right;
	padding: 0 !important;
	margin: 0 !important;
}

.nav-link {
	padding: 10px 15px;
	font-size: 18px;
}

.lava-hr {
   	margin: 15px -15px !important;
}

.lavapad {
	padding: 0 1px 1px 0 !important;
	margin: 0 !important;
}

.lavano {
	padding: 0 !important;
	margin: 0 !important;
}

.lava-home h1 {
	font-size: 80px;
	font-family: 'Raleway', cursive;
	text-transform: uppercase;
	color: #fff;
}
.lava-home p {
	font-size: 24px;
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	line-height: 44px;
}

.lava-home {
	padding: 0px;
	padding-bottom: 150px;
	background: url(../images/marbg.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        position: relative;
        color: #fff;
	overflow: hidden;

}

.space40 {
	margin-bottom: 40px;
}

.lava-start {
	margin: 10px;
	padding: 16px 40px;
	min-width: 200px;
	font-size: 22px;
}

.lava-content {
	padding: 60px 40px;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
	min-height: 280px;
}

.lava-section-header {
	padding: 0px;
	padding-top: 100px;
	padding-bottom: 80px;
	background-size: cover;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
	color: #000;
}

.lava-home p, .lava-content p, .lava-section-header p {
	padding: 20px 0 0 0;
}

.form-group {
	margin: 20px 0;
}

.btn-border{
	padding: 15px 30px;
	border: 3px solid #fff;
	border-radius: 0px;
	color: #fff;
	margin: 10px;
        -webkit-transition: border-color 0.4s, color 0.4s;
        transition: border-color 0.4s, color 0.4s;
        transition: 0.4s;
}

.btn-border:hover{
        background: #fff;
        color: #000;
        border-color: #fff;
}

.row i{
	margin-right: 10px;
}


.lava-copyright {
	margin: 0;
	padding: 10px 0 30px 0;
	font-size: 14px;
}

.mask{
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.7;
	z-index: 0;
}

.white-box{
	border-top: 10px solid #cecece;
	border-bottom: 10px solid #cecece;
	background-color: #fff;
	overflow: hidden;
}

.white-box h1{
	padding: 10px;
}

.white-box p {
	padding: 10px;
}

.hover-shade{
	height: 300px;
	background-color: #000;
  	position: absolute;
	z-index: 100;
	opacity: 0.8;
  	top: 0;
  	bottom: 0;
  	left: 0;
  	right: 0;
	transition: 0.6s;
}

.hover-shade:hover{
	opacity: 0;
}


.protect-image{
	position: relative;
	overflow: hidden;
}

/* MENU */

.menu-toggle{
	position: absolute;
	right: 15px;
	top: 15px;
	font-size: 30px;
	color: #000;
}

.menu-toggle:hover{
	color: red;
}

.menu{
	width: 100%;
	display: block;
	background: #333;
	height: 330px;
	top: 0;
	top: -330px;
	position: fixed;
	z-index: 100;
	text-align: center;
	transition: top 0.2s;
}

.menu.nav-expanded{
	top: 0;
}

.menu .close{
	color: #fff;
	margin-right: 10px;
	margin-top:10px;
}

.menu h3{
	margin-top:50px;
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
}

.menu .nav{
	padding: 0;
}

.menu .nav > li > a{
	color: #fff;
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
}

.menu .nav > li > a:hover,
.menu .nav > li > a:focus{
	background: transparent;
	color: #fff;
}



/* END MENU */

#slides{
	display: none;
}

.column-container{
	margin-bottom: 15%;
	background-color: #cecece;
	padding: 10px;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
}

.column-container i{
	font-size: 50px;
	padding-top: 20px;
}

.column-header{
	margin-bottom: 5%;
	color: #fff;
	font-family: 'Raleway', sans-serif;
}

.gallery{
	background: url('../images/pattern_bg.png') repeat fixed 100%;
	box-shadow: inset 0px 0px 20px 10px rgba(0,0,0,0.6);
}

.slides{
	width: 100%;
	height: 100%;
	margin-bottom: 10%;
	display: none;
}

@media (max-width:1330px) {
	body {
		font-size: 16px;
		line-height: 28px;
	}
	h1 {
		font-size: 28px;
	}
	
	h2 {
		font-size: 24px;
	}
	.lava-icon {
		font-size: 48px;
		padding: 20px;
	}
	.site-title h2 {
		font-size: 14px;
		padding-top: 10px;
	}
	.lava-content {
		padding: 30px 20px;
		min-height: 200px;
	}
	.lava-home h1 {
		font-size: 40px;
	}
	.lava-home p {
		font-size: 18px;
		line-height: 36px;
	}
}

@media (max-width:990px) {
	.main-menu {
		margin: 0px;
	}
}

@media (max-width:767px) {
	.nav-link {
		padding: 5px 10px;
		font-size: 16px;
	}
	.lava-home h1 {
		font-size: 30px;
	}
	.lava-home p {
		font-size: 16px;
		line-height: 28px;
	}
	.lava-content {
		padding: 20px;
		min-height: 100px;
	}
	.lava-home {
		background: url('../images/8-bit-landscape-3.png');
	}

}
